body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }

  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: -10px;
  }

  .social-media {
    margin-top: 15px;
  }

  .social-media a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.social-media p {
    font-size: 14px;
}

.social-media a:hover {
    color: #ccc;
}

.social-icon{
    width: 30px;
    height: 30px;
}