body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }

  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: -10px;
  }